fieldset {
    margin-bottom: 10px;
    margin-top: 10px;
}

fieldset .radio-inline {
    margin-right: 10px;
}

#search-by-form-group {
    margin-right: 80px;
}

#search-max {
    max-width:80px;
}

.twitter-thumbnail {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.twitter-name {
    margin-top: 13px;
}

.twitter-handle {
    font-size: 1.5em;
}

.twitter-name, .twitter-handle, .twitter-location {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
}

.twitter-name {
    height: 20px;
}

.twitter-stats {
    margin-top: 15px;
}

.twitter-number {
    font-size: 1.3em;
}

textarea {
    min-width: 100%;
}

#search-text {
    min-height: 180px;
}

#search-card {
    padding-left: 30px;
    padding-right: 30px;
}
