{% extends 'policia/base.html' %}

{% load staticfiles %}

{% block stylesheets %}
    <link href="{% static "policia/css/buscar.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "policia/plugins/custombox/dist/custombox.min.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

<div
    ng-cloak
    ng-app="policia"
    ng-controller="searchText"
    ng-init="updateSearchParams()">

    {% include 'policia/modal-tarea.html' %}

    <div id="search-box" class="row">
        <div class="col-md-12 text-left">
            <div class="card-box">
                <form class="form-inline">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <fieldset class="row">
                                <div  class="col-md-12">
                                    <label for="search-text">Buscar texto:  </label>
                                    <br/>
                                        <textarea
                                            ng-model="searchText"
                                            class="form-control"id="search-text"
                                            name="search-text" maxlength="100000"
                                            id="search-text" autofocus></textarea>
                                </div>

                            </fieldset>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <fieldset class="row">
                                <br/>
                            </fieldset>
                            <fieldset class="row">
                                    <div class="col-xs-4">
                                        <label for="search-language">Idioma:  </label>
                                        <select
                                            ng-model="searchLanguage"
                                            class="form-control" id="search-language" name="search-language">
                                            <option value="es">ES</option>
                                            <option value="en">EN</option>
                                            <option value="ar">AR</option>
                                            <option value="ru">RU</option>
                                            <option value="fr">FR</option>
                                        </select>

                                    </div>
                                    <div class="col-xs-8">
                                        <label for="search-max">Máx. Resultados:  </label>
                                        <input
                                            ng-model="searchMax"
                                            type="number" class="form-control" id="search-max"
                                            name="search-max" maxlength="5" min="1"
                                            max="5000" value="100"/>

                                    </div>
                            </fieldset>
                            <fieldset>
                                <label for="search-by">Buscar por:  </label>
                                <br/>
                                <label class="radio-inline"><input ng-model="searchBy" type="radio" name="search-by" value="topic" checked>Temas de los que habla</label>
                                <label class="radio-inline"><input ng-model="searchBy" type="radio" name="search-by" value="semantic">Forma de hablar</label>
                            </fieldset>

                            <img ng-show="searchSpinnerVisible"
                                class="img-responsive col-sm-3"
                                src="{% static 'policia/img/spinner.gif' %}"/>

                            <fieldset>
                                <br/>
                                <div class="form-group" ng-show="searchButtonVisible">

                                    <input id="search-button"
                                        ng-click="search()"
                                        name="search-button" class="form-control btn btn-primary pull-right"
                                        type="submit" value="Buscar similares"/>

                                </div>
                            </fieldset>
                        </div>
                    </div><!-- /.row-->
                </form>
            </div> <!-- /.card-box -->
        </div> <!-- /col-md-12 -->
    </div> <!-- /search-box -->

    <div ng-cloack id="results-box" class="row">
        <div ng-show="errorVisible" class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="text-center alert alert-danger">
                <strong>¡Ups!</strong> {% verbatim %}{{ error }}{% endverbatim %}
            </div>
        </div>
        <div ng-show="successVisible" class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="text-center alert alert-success">
                <strong>¡Hecho!</strong> La búsqueda se ha añadido a <a href="/">tareas pendientes</a>.
            </div>
        </div>
        <div ng-repeat="user in similarUsers">
            {% include 'policia/usuario-twitter.html' %}
        </div>

    </div>

    <!-- Botón de descargar  -->
    {% verbatim %}
    <div class="navbar navbar-fixed-bottom hidden-xs" role="navigation">
        <div class="container">
            <div ng-show="downloadVisible">
                <a id="btn-descargar" download="resultados.csv"
                ng-href="{{ resultsDataURI }}"
                ng-click="downloadDataInternetExplorer()"
                class="btn btn-primary pull-right">
                <i class="md md-cloud-download"></i> Descargar como CSV</a>
            </div>
        </div>
    </div>
    {% endverbatim %}
    <!-- /Botón de descargar  -->

</div>

{% endblock %}

{% block scripts %}
<script src="{% static "policia/js/controllers/search-text.js" %}"></script>
<script src="{% static "policia/js/controllers/csv-converter.js" %}"></script>
{% endblock %}
